<mat-sidenav-container class="container" class="full-height-container">
    <mat-sidenav #sidenav class="full-height" mode="side" opened="true">
      <mat-nav-list>
        <a mat-list-item routerLink="contact">Contacts</a>
        <a mat-list-item routerLink="group">Groups</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle Menu">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Contacts Manager</span>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
  