<mat-dialog-content>
    <form [formGroup]="contactForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="First Name" formControlName="firstName" required>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name" formControlName="lastName" required>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email" required>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onClose()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="contactForm.invalid">Save</button>
  </mat-dialog-actions>
  