.welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure the container takes at least the full height of the viewport */
    text-align: center;
  }
  
  .welcome-content {
    max-width: 600px;
  }
  
  .welcome-content h1 {
    font-size: 2.5em;
  }
  
  .welcome-content p {
    font-size: 1.2em;
  }
  