<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CarnetContact</display-name>
  <absolute-ordering/>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.lip6.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateContactServlet</servlet-name>
    <servlet-class>com.lip6.servlets.CreateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateContactServlet</servlet-name>
    <url-pattern>/CreateContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAddressServlet</display-name>
    <servlet-name>CreateAddressServlet</servlet-name>
    <servlet-class>com.lip6.servlets.CreateAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAddressServlet</servlet-name>
    <url-pattern>/CreateAddressServlet</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextClass</param-name>
    <param-value>
 org.springframework.web.context.support.AnnotationConfigWebApplicationContext
  </param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>com.lip6.configuration</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>GetContactsServlet</display-name>
    <servlet-name>GetContactsServlet</servlet-name>
    <servlet-class>com.lip6.servlets.GetContactsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetContactsServlet</servlet-name>
    <url-pattern>/GetContactsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressServlet</display-name>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>com.lip6.servlets.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/AddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhoneNumberServlet</display-name>
    <servlet-name>PhoneNumberServlet</servlet-name>
    <servlet-class>com.lip6.servlets.PhoneNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhoneNumberServlet</servlet-name>
    <url-pattern>/PhoneNumberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactGroupServlet</display-name>
    <servlet-name>ContactGroupServlet</servlet-name>
    <servlet-class>com.lip6.servlets.ContactGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactGroupServlet</servlet-name>
    <url-pattern>/ContactGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>com.lip6.servlets.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JPQLservlet</display-name>
    <servlet-name>JPQLservlet</servlet-name>
    <servlet-class>com.lip6.servlets.JPQLservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JPQLservlet</servlet-name>
    <url-pattern>/JPQLservlet</url-pattern>
  </servlet-mapping>
</web-app>