.group-card {
    margin: 8px;
    max-width: 400px;
  }
  

  

  .add-group-button {
    position: fixed;
    bottom: 16px;
    right: 16px;
  }

  .custom-card {
    width: 80%;
    margin: 20px auto 0; /* Add 20px space on the top, center horizontally */
    padding: 16px;
    min-height: 100%;
  }