.custom-card {
    width: 80%;
    margin: 20px auto 0; /* Add 20px space on the top, center horizontally */
    padding: 16px;
  }
  
  .custom-list {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }