<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="login()">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </mat-card-content>
</mat-card>
  